/* You can add global styles to this file, and also import other style files */
body {
    font-family: var(--font-family);
}

.custom-icon .pi  {
    color: black;
    border: none!important;
}

.custom-icon {
    background-color: transparent!important;
    border: none!important;
}

.icon-button:focus {
    outline: none;
    box-shadow: none;
  }